body {
    font-family: "Nobile", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 10%;
}

header {
    margin-top: 30px;
    display: flex;
    position: relative;
}

.menu-e-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu-e-logo>div>button {
    background-color: transparent;
    border: none;
}

.logo {
    position: absolute;
    left: 50%;
    width: 30px;
}

#btn-idioma {
    cursor: pointer;
    transition: 0.4s;
}

#btn-idioma:hover {
    color: #00a8eb;
    transition: 0.4s;
}

#funcionalidades {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mudaTema {
    transition: 0.5s;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url("../img/MoonFill.svg");
    background-size: cover;
}

.mudaTema:hover {
    transition: 0.5s;
    border-radius: 4px;
    filter: brightness(3) invert(0);
}

h1 {
    font-family: "Alike", serif;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 70px;
}

.mockupImagem {
    width: 100%;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Alike", serif;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #b4b0b0;
    text-align: center;
    gap: 10px;
    margin: 40px 0px;
}

.flor {
    width: 20px;
    height: 20px;
    background-image: url('../img/flor-titulo-escuro.svg');
    background-size: cover;
}

#navegacao {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

a {
    color: #597f9f;
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
    font-family: "Nobile", sans-serif;
}

a:hover {
    color: #2608ad;
}

#link-voltar {
    background-color: #ffffffdd;
    padding: 8px 20px;
    border: solid 1px #beb9b9;
    border-radius: 8px;
    color: rgb(66, 64, 64);
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 1px 2px 3px rgb(211, 211, 211);
    font-size: 13px;
}

#link-voltar:hover {
    border: solid 1px #0acaff;
    color: #1291b4;
    transition: 0.5s;
}

#link-figma {
    background-color: #843E10;
    padding: 8px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#link-github {
    background-color: #1C5B75;
    padding: 8px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#link-github:hover, 
#link-figma:hover {
  background-color: #5c6168;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

.carrossel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.carrossel {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 70%;
}

.carrossel-img {
    flex: 0 0 100%;
    max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    height: 600px;
}

.carrossel-img:hover {
    transform: scale(1.01);
    transition: 0.5s;
}

.btn_carrossel {
    border-radius: 30px;
    border: 1px solid #dddedf;
    background-color: #e1e9e9;
    height: 35px;
    width: 35px;
    cursor: pointer;
    transition: 1s;
    color: #1e1c1c;
    box-shadow: 1px 2px 3px rgb(211, 211, 211);
    font-size: 18px;
}

.btn_carrossel:hover {
    background-color: #abbec29a;
}

#habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    padding: 0;
    justify-content: center;
    font-size: 13px;
}

#habilidades>li {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 500;
    color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
}

#habilidades>li:hover {
    background-color: #3a5e94;
    transition: 0.5s;
    color: white;
}

p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

.destaque_texto{
    display: block;
    text-align: center;
}
.destaque_texto a{
    text-decoration: underline;
    color: #676767;
}
footer {
    margin-top: 100px;
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 4px 0;
    text-align: center;
}

body.dark-mode .mudaTema {
    transition: 0.5s;
    background-image: url("../img/SunFill.svg");
    background-size: cover;
}

body.dark-mode .mudaTema:hover {
    transition: 0.5s;
    filter: brightness(50%);
}

body.dark-mode {
    background: linear-gradient(#0c0c0c, #161515, #0c0c0c);
    color: #fff;
    transition: 0.5s;
}


@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');